@keyframes float-up {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }

  50% {
    transform: translateY(-40px);
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 0.2;
  }
}

@keyframes float-down {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }

  50% {
    transform: translateY(40px);
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 0.2;
  }
}

@keyframes float-left {
  0% {
    transform: translateX(0);
    opacity: 0.2;
  }

  50% {
    transform: translateX(-40px);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0);
    opacity: 0.2;
  }
}

@keyframes float-right {
  0% {
    transform: translateX(0);
    opacity: 0.2;
  }

  50% {
    transform: translateX(40px);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0);
    opacity: 0.2;
  }
}

@keyframes rotate-slow {
  0% {
    transform: rotate(0deg);
    opacity: 0.3;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.4;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.3;
  }
}

@keyframes pulse-fade {

  0%,
  100% {
    transform: scale(0.5);
    opacity: 0.2;
  }

  50% {
    transform: scale(1);
    opacity: 0.4;
  }
}

.float-up {
  animation: float-up 7s ease-in-out infinite;
}

.float-down {
  animation: float-down 9s ease-in-out infinite;
}

.float-left {
  animation: float-left 12s ease-in-out infinite;
}

.float-right {
  animation: float-right 8s ease-in-out infinite;
}

.rotate-slow {
  animation: rotate-slow 5s linear infinite;
}

.pulse-fade {
  animation: pulse-fade 15s ease-in-out infinite;
}

@keyframes float-up2 {


  0%,
  50% {
    opacity: 0;
  }

}

.float-up2 {
  animation: float-up2 0.3s ease-in-out;
}